@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap");

body {
  @apply bg-dark text-gray-lighten font-roboto;
}

/* CUSTOM UTILITIES */
.tw-flex-center {
  @apply flex justify-center items-center;
}

.tw-black-backdrop {
  background: linear-gradient(to left, transparent, rgba(0, 0, 0, 0.85) 65%);
}

.tw-black-backdrop-2 {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.6) 0%,
    rgba(179, 179, 193, 0) 7%,
    rgba(107, 107, 115, 0) 93%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.tw-multiline-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;

  display: -webkit-box !important;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.tw-multiline-ellipsis-2 {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: normal;

  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* CUSTOM SLIDER */
:root {
  --swiper-theme-color: white !important;
  --swiper-navigation-size: 15px !important;
}

.tw-banner-slider .swiper-button-prev {
  @apply !top-[6%] !left-[2%] !z-20;
}

.tw-banner-slider .swiper-button-next {
  @apply !top-[6%] !left-[5%] !z-20;
}

.tw-section-slider .swiper-button-prev {
  --swiper-navigation-size: 25px !important;
  z-index: 20 !important;
}

.tw-section-slider .swiper-button-next {
  --swiper-navigation-size: 25px !important;
  z-index: 20 !important;
}

/* CUSTOM SCROLLBAR*/
